.banner {
    display: block;
    padding: 5px;
    margin: 0px;
    width: 100vw;
    height: 60vh;
    position: relative;
}

.bannerText {
    position: relative;
    top: 250px;
    z-index: 20;
    text-align: center;
    color: white;
}